<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">

<link rel="stylesheet" th:href="@{/webjars/bootstrap/3.3.6/css/bootstrap.min.css}" />
<!--<link rel="stylesheet" th:href="@{/webjars/bootstrap-datepicker/1.6.0/css/bootstrap-datepicker.css}" />-->
<link href="../static/css/bootstrap-datepicker.css"
      th:href="@{/css/bootstrap-datepicker.css}"
      rel="stylesheet" media="screen" />

<link rel="stylesheet" href="/webjars/datatables/1.10.11/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="/webjars/angular-datatables/0.4.0/plugins/bootstrap/datatables.bootstrap.css">
<link rel="stylesheet" href="/webjars/angular-datatables/0.4.0/plugins/bootstrap/datatables.bootstrap.css">
