<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorator="layout">
    <head>
        <title>Spring Boot CRUD Example</title>
    </head>
    <body>
        <div layout:fragment="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-offset-3 col-md-6">

                        <div th:if="${savePasien eq 'unsuccess'}">
                            <div class="alert alert-danger alert-dismissible" role="alert">
                                <strong>Error!</strong> Pasien Data Not Updated.
                            </div>
                        </div>
                        <div th:if="${savePasien eq 'success'}">
                            <div class="alert alert-success alert-dismissible" role="alert">
                                <strong>Success!</strong> Pasien Data Updated Successfully.
                            </div>
                        </div>

                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <h3 class="panel-title">Edit Pasien</h3>
                            </div>
                            <div class="panel-body">
                                <form th:object="${editPasien}" th:action="@{/pasien/update}" action="#" method="post">
                                    <input type="hidden" th:field="*{pasienId}"/>
                                    <input type="text" th:field="*{pasienId}" class="form-control" placeholder="Pasien ID" readonly=""/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{name}" class="form-control" placeholder="Pasien Full Name"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{tanggalLahir}" class="form-control" placeholder="Pasien Tanggal Lahir"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{telpon}" class="form-control" placeholder="Pasien Telpon"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{rtrw}" class="form-control" placeholder="Pasien RT / RW"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{kelurahan}" class="form-control" placeholder="Pasien Kelurahan"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{kecamatan}" class="form-control" placeholder="Pasien Kecamatan"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{kota}" class="form-control" placeholder="Pasien Kota"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="text" th:field="*{kelamin}" class="form-control" placeholder="Pasien Kelamin"/>
                                    <div style="clear:both; display:block;height:10px;"></div>
                                    <input type="submit" class="btn btn-danger pull-right" value="Update">
                                </form>
                            </div>

                            <div class="panel-footer">
                                <a th:href="@{/savepage}" class="btn btn-success">Back To Save Page</a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>